<!DOCTYPE html>
<html>
    <body>
        <div id='wp'>
            <div id='page'>
                <div id="panel">
                    <button id="btnSetData">set</button>
                    <button id="btnShowData">show</button>
                </div>
            
                <div id="data">
                    <div>name</div>
                    <div id="name">...</div>
                    <div>age</div>
                    <div id="age">0</div> 
                </div>

            </div>
        </div>
    </body>
</html>